<section
  class="relative flex min-h-screen items-center justify-center overflow-hidden px-6 text-center"
>
  <div
    class="bg-gradient-radial absolute inset-0 from-[#4d9263]/20 via-transparent to-transparent"
  ></div>

  <div class="z-10 md:px-10">
    <h1
      class="mb-6 text-3xl md:text-5xl font-extrabold leading-tight md:text-6xl text-white"
    >
      Não deixe sua guitarra desafinada, use o
      <span class="text-[#4d9263] drop-shadow-[0_0_15px_#4d9263]">
        MChiodi GuitarTuner
      </span>
      e toque com precisão!
    </h1>
    <p class="mb-10 text-lg text-white/70">
      O <span class="text-[#4d9263] font-medium">MChiodi GuitarTuner</span> é
      seu site ideal para afinar sua guitarra de forma rápida, precisa e
      gratuita. Interface intuitiva, design moderno e tecnologia profissional ao
      seu alcance.
    </p>
    <div class="flex flex-wrap justify-center gap-4">
      <a
        href="tuner"
        class="rounded-full bg-[#4d9263] px-10 py-3 font-semibold text-white shadow-[0_20px_50px_rgba(0,0,0,0.6)] transition hover:scale-105 hover:bg-[#5ea172] hover:shadow-[#4d9263]/50"
      >
        Começar Agora →
      </a>
      <a
        href="#sobre"
        class="rounded-full border border-[#4d9263] px-10 py-3 font-semibold text-white transition hover:scale-105 hover:bg-[#4d9263]/10"
      >
        Saiba Mais ↓
      </a>
    </div>
  </div>
</section>
