<section
  class="bg-[#213141]/30 px-6 py-24 backdrop-blur-xl shadow-xl border-y border-white/20"
>
  <div class="mx-auto max-w-3xl text-center">
    <h2 class="mb-6 text-3xl font-bold text-white">
      Pronto para tocar afinado de verdade?
    </h2>
    <p class="mb-8 text-white/70">
      Comece agora com o
      <span class="text-[#4d9263] font-semibold">GuitarTuner</span> e transforme
      sua experiência musical.
    </p>
    <a
      href="tuner"
      class="rounded-full bg-[#4d9263] px-10 py-4 font-semibold text-white shadow-[0_10px_50px_rgba(0,0,0,0.7)] transition hover:scale-105 hover:bg-[#5ea172] hover:shadow-[#4d9263]/40"
    >
      Começar Agora →
    </a>
  </div>
</section>
