<section
    id="sobre"
    class="bg-[#213141]/30 px-6 py-24 backdrop-blur-xl shadow-xl border-y border-white/20"
  >
    <div class="mx-auto max-w-5xl text-center">
      <h2 class="mb-6 text-3xl font-bold text-white">
        Por que escolher o <span class="text-[#4d9263]">GuitarTuner?</span>
      </h2>
      <p class="mb-12 text-white/70">
        Porque tocar desafinado nunca mais! O GuitarTuner é responsivo, direto
        ao ponto e feito especialmente para músicos que querem praticidade e
        precisão em qualquer dispositivo.
      </p>

      <div class="grid gap-8 md:grid-cols-3">
        <div
          class="rounded-2xl border border-[#4d9263]/30 p-6 shadow-xl hover:shadow-lg hover:border-[#4d9263] transition"
        >
          <h3 class="mb-2 text-xl font-semibold text-[#4d9263]">
            Afinamento Preciso
          </h3>
          <p class="text-white/70">
            Tecnologia avançada de detecção de frequência com suporte a
            ambientes com ruído.
          </p>
        </div>
        <div
          class="rounded-2xl border border-[#4d9263]/30 p-6 shadow-xl hover:shadow-lg hover:border-[#4d9263] transition"
        >
          <h3 class="mb-2 text-xl font-semibold text-[#4d9263]">
            Interface Intuitiva
          </h3>
          <p class="text-white/70">
            Visual limpo, adaptável ao celular ou desktop, feito pra quem quer
            praticidade.
          </p>
        </div>
        <div
          class="rounded-2xl border border-[#4d9263]/30 p-6 shadow-xl hover:shadow-lg hover:border-[#4d9263] transition"
        >
          <h3 class="mb-2 text-xl font-semibold text-[#4d9263]">
            100% Gratuito
          </h3>
          <p class="text-white/70">
            Sem anúncios, sem limitações. Totalmente livre para você usar sempre
            que quiser.
          </p>
        </div>
      </div>
    </div>
  </section>
